<div class="row">
  <div class="image col-12 col-md-6"></div>
  <div class="story col-12 col-md-6">
    <h1 class="title">About Us</h1>
    <p><b>Hubungi Kami</b><br/>
Sek. Ren. Keb. Seri Indera<br/>
Jalan Sekolah Derma, 01000 Kangar,Perlis,Malaysia<br/>
<br/>
Telefon : +60 4-9760169<br/>
Faks : +60 4-9774223<br/>
Emel : <a href="#">rbb0040@moe.edu.my</a></p>
  </div>
</div>
<div class="abusalah-yousef">
  <div class="row flip-boxes">
    <div class="col-md-6 col-12 flip-box">
      <div class="front teacher1">
        <div class="content text-center">
          Pn Nor Sharmila Binti Shaari
          <br>
          <span class="click-for-more">
          </span>
        </div>
      </div>
      <div class="back">
        <div class="content text-center">
          <b>Pengerusi</b><br/>
          Pn Nor Sharmila Binti Shaari<br/>
          Guru Besar
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 flip-box">
      <div class="front teacher2">
        <div class="content text-center">
          En Zulbakri Bin Khalid
        </div>
      </div>
      <div class="back">
        <div class="content text-center">
          <b>Penasihat I</b><br/>
          En Zulbakri Bin Khalid<br/>
          GPK Pentadbiran
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 flip-box">
      <div class="front teacher3">
        <div class="content text-center">
          Puan Syuriahni Binti Omar
          <br>
          <span class="click-for-more">
          </span>
        </div>
      </div>
      <div class="back">
        <div class="content text-center">
          <b>Penasihat II</b><br/>
          Puan Syuriahni Binti Omar<br/>
          Guru Penyelaras ICT
        </div>
      </div>
    </div>
  </div>
</div>

