<ion-header>
  <ion-toolbar style="--background: #263A7F; --color: white">
    <ion-title style="text-align: center">
      Student Attendance System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="--background: #263A7F; --color: white">
  <div *ngIf="user != null">
    <h3>Welcome, <b>{{ user.email }}</b></h3>
    <div>
      <p>To be present at a lecture, click the button with the camera icon below and give permission for the application
        to
        access the phone's camera. Then scan the QR Code provided by the organization.</p>
      <p>Remember that for your presence to be successfully validated, you will need to validate your entry and exit
        from the
        event.</p>
    </div>
    <ion-button color="light" (click)="SignOut()">LogOut</ion-button>
    <ion-button color="light" (click)="Sair()">
      <ion-icon name="camera"></ion-icon>
      Scan
    </ion-button>
  </div>

  <div *ngIf="user == null">
    <br>
    <br>
    <img src="../../assets/images/unip-logo1.png" alt="" style="width: 70%; margin: 10% 15%;">
    <br>
    <br>

    <p>
      <ion-item color="transparent">
        <ion-label floating>
          <ion-icon style="--color: white" name='person'></ion-icon>
        </ion-label>
        <ion-input style="--color: white" type="text" placeholder="E-mail" #usuario></ion-input>
      </ion-item>
    </p>

    <p>
      <ion-item color="transparent">
        <ion-label floating>
          <ion-icon style="--color: white" name='lock'></ion-icon>
        </ion-label>
        <ion-input style="--color: white" type="password" placeholder="Password" #senha></ion-input>
      </ion-item>
    </p>

    <br>
    <ion-button color="warning" expand="block" (click)="LoginComEmail()">Enter</ion-button>
    <ion-button color="warning" expand="block" [routerLink]="'/register/'" style="margin-top: 1rem">Sign Up
    </ion-button>
  </div>
</ion-content>

<div *ngIf="user != null">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="blog">
          <ion-icon name="today"></ion-icon>
          <ion-label>Blog</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
          <ion-icon name="contact"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</div>